@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Josefin+Sans&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Ms+Madi&family=Playfair+Display:wght@600&family=Poppins:wght@300;400;500;800&family=Roboto&family=Roboto+Slab&display=swap');

.login-form{
    border: 1px solid gray;
    width: 45%;
    height: 523px;
    margin: 10px auto;
    font-family: 'Poppins', sans-serif;
}
.login-form h2{
    text-align: center;
}
.form-control{
    text-align: center;
}
.form-control label{
    margin-right: 219px;
    font-size: 16px;
}
.input-field{
    width: 300px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
    outline: none;
    margin-top: 10px;
    padding-bottom: 5px;
}
.reset{
    text-decoration: none;
    margin-left: 180px;
}
.signup-link{
    margin-right: 120px;
}
.login-btn{
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 15px 131px;
    background-color: aquamarine;
    font-size: 17px;
    cursor: pointer;
}
.social_login{
    margin-top: 300px;
}
@media screen and (max-width: 576px) {
    .login-form{
        width: 100%;
    }
}