.footer-container{
    background-color: gray;
    padding: 50px 0;
    display: flex;
}
.per-section{
    border: 1px solid gray;
    width: 400px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px
}