.dash-bar{
    margin: 1px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-dash{
    border-bottom: 1px solid gray;
    width: 150px;
    margin-right: 20px;
}
.second-dash{
    border-bottom: 1px solid gray;
    width: 150px;
    margin-left: 20px;
}
.social-btn{
    background-color: aquamarine;
    padding: 0 75px;
    border: none;
    border-radius: 30px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.social-btn span{
    font-size: 17px;
}
.social-btn img{
    width: 45px;
}