.per-item{
    text-align: center;
    width: 350px;
    margin-bottom: 150px;
}
.per-item:hover{
    box-shadow: 5px 5px 25px gray;
}
.per-item img{
    width: 300px;
    height: 230px;
}
.inventory-btn{
    text-decoration: none;
    background-color: rgb(62, 164, 96);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}
.inventory-btn:hover{
    background-color: rgb(45, 139, 76);
    text-decoration: none;
    color: white;
}
